$leftmargin: 100px;
$relativewidth: 80rem;
$home-nav-height: 3.5rem;

html, body, #root, {
  height: 100%;

  .nav-container {
    position: fixed;
    width: 100%;
    z-index: 2;
  }
} 

// Search Options
.search-option-container {
  display: flex;
  width: $relativewidth;
  margin-left: $leftmargin;
  padding: 1rem;
  border-bottom: 1px solid #dedede;

  .spacer {
    flex: 1;
  }

  select {
    width: 10rem;
  }
}

// rgba(63, 63, 63, 0.233)
#main {
  background: transparent;
  height: 100%;
  padding-top: $home-nav-height;
  padding-bottom: $home-nav-height;
  overflow-y: auto;
}

.jumbotron {
  margin-left: $leftmargin;
  width: $relativewidth;
  background: rgba(53, 58, 64, 0.7);

  .list-group-item {
    border: 0px;
    background: transparent;
    color: white;

    .fa-question {
      font-size: 14rem;
      color: #76b852;
    }
  
    .column2 {
      display: flex;
      flex-direction: column;
  
      div {
        margin: auto;
        padding-left: 3rem;
  
        button {
          margin: auto;
          background: #76b852;
        }
      }
    }
  }
}

// Results
.results-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: $leftmargin;
  width: $relativewidth;
  justify-content: space-between;
  opacity: 1;

  a, a:active, a:hover, a:focus, a:visited {
    color: black;
    text-decoration: none;
    z-index: 1;
  }
}

.card {
  flex-direction: row;
  width: 600px;
  height: 200px;
  margin: 10px 0px 10px 0px;
  border-radius: 4px;
  border: 1px solid rgb(75, 72, 72);
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // Jin
  opacity: 0.9;
  border-right: 5px solid #76b852;
  overflow: hidden;
  background: #fefdfb;
  color: #353a40;
}

// Jin
.card:hover {
  opacity: 1;
  color: black;
}

.card-img-top {
  width: 200px;
  height: 200px;
  border-radius: 0px;
  object-fit: cover;
}

.card-body {
  flex: 1;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Rubik', sans-serif;
  .card-title {
    font-weight: bold;
  }

  .card-subtitle {
    padding: 2%
  }

  .user_online {
    float: right;
  }
}

.pagination-container {
  margin-top: 20px;
  margin-left: $leftmargin;
  width: $relativewidth;
  display: flex;

  .pagination {
    margin: auto;
  }
}