$grey1: #36393f;
$grey2: #303136;
$grey3: #2b2b31;
$grey4: #656565;
$text-color-light: #b3b4b6;
$text-color-light2: #b7b7b7;
$chatarea-color: #484c52;
$border-dark: #212317;
$border-light: #3e4146;


body {
  margin: 0px;
}

.wrapper {
  display: flex;
  height: 100vh;
}