$grey1: #36393f;
$grey2: #303136;
$grey3: #212125;
$grey4: #656565;
$text-color-light: #b3b4b6;
$chatarea-color: #484c52;
$border-dark: #212317;
$border-light: #3e4146;

$home-nav-height: 80px;


body {
  margin: 0px;
  line-height: 1;
}

.wrapper {
  display: flex;
  height: 100vh;
}