.leftpanel {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: $grey3;
  color: $text-color-light;
}

.lp-header {
  display: flex;
  height: $home-nav-height;
  border-bottom: 1px solid $border-dark;
  background: $grey3;

  #main-logo {
    margin: auto;
    width: 85%;
    height: $home-nav-height - 20px;
  }
}

.lp-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  & > p {
    margin: 0px auto;
    padding: 10px 0px;
    width: 300px;
    text-align: center;
    border-bottom: 1px solid $border-light;
    font-size: 20px;
  }
}

.carousel {
  flex: 1;
  display: flex;
  margin: 0px 20px 20px 20px;
}

.carousel-inner, .carousel-item {
  height: 100%;
}

.carousel-item-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .carousel-video {
    margin: auto;
    width: 350px;
    height: 197px;
  }

  .room-container {
    margin: 4% auto;
    flex: 1;
  }
}

.carousel-control {
  width: 15px;
}

/////////////
$video-w: 250px;
$video-h: 140px;

.rightpanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: $grey2;
}

.navbar-container {
  background: $grey3;
  height: 80px;
  display: flex;
  border-bottom: 1px solid $border-dark;

}

.roomlist-container {
  flex: 1;
  display: flex;
  padding: 20px 0px;
}

.roomlist {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin: auto;
  height: 100%;
  justify-content: flex-start;

  img {
    border-radius: 2px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #1d1d1d;
  }

  .roomlist-video {
    margin: auto;
    width: $video-w;
    height: $video-h;
  }
}

.room-container{
  margin: 10px;
  margin-bottom: 70px;
  
  .user-container {
    margin-top: 10px;
    width: $video-w;
    overflow-x: hidden;
    text-overflow: ellipsis;
    
    & > .column2 {
      flex: none;
      margin: 0px;
      color: white;
      
      p:first-child {
        font-size: 20px;
      }
      
      p:last-child {
        font-size: 13px;
      }
    }
    
    & > .column3 {
      flex: 1;
      margin: 0px;
      color: white;
      
      & > p {
        padding-left: 10px;
        font-size: 11px;
        text-align: right;
      }
    }
  }
}

///////////////////////
.navbar {
  flex: 1;
  height: $home-nav-height;
  padding: 40px 0px 0px 0px;
}

.nav-mega {
  width: 100%;
}

.dropdown {
  position: static;
  min-width: 100px;
  display: flex;
}

.nav-mega .dropdown-menu.mega-menu {
  box-sizing: border-box;
  min-width: auto;
  width: 100%;
  margin-top: 0.5px;
  padding: 10px;
  background: $grey1;
}

.dropdown-menu.show {
  border: 0px;
  display: flex;
  max-height: 140px;
  border-radius: 0px 0px 5px 5px;
}

.subtopic-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 120px;
  
  li {
    width: 120px;
  }
}

.subtopic-spacer {
  flex: 1;
}

.btn-light {
  background: $grey1;
  color: $text-color-light;
  border: 0px;
  width: 120px;

  &:focus {
    border: 0px;
    box-shadow: unset;
  }
  &:active {
    border: 0px;
  }
}

.subtopic-spacer {
  flex: 1;
}

.dropdown-toggle {
  line-height: 40px;
  width: 100%;
  text-align: center;
  color: $text-color-light;
  border-radius: 0px;
  font-size: 20px;
  font-weight: bold;
    
  &:hover, &:active, &:focus {
    background: $grey1;
    text-decoration: none;
    color: $text-color-light;
  }

  &:after {
    display: none;
  }
}