.leftpanel {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: $grey2;
  color: $text-color-light;
}

.lp-header {
  display: flex;
  height: 80px;
  border-bottom: 1px solid $border-dark;

  #main-logo {
    margin: auto;
    width: 85%;
    height: 60px;
  }
}

.lp-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  p {
    margin: 0px auto;
    padding: 10px 0px;
    width: 300px;
    text-align: center;
    border-bottom: 1px solid $border-light;
    font-size: 20px;
  }
}

.carousel {
  flex: 1;
  display: flex;
  margin: 0px 20px;
}

.carousel-inner, .carousel-item, .carousel-item-container {
  height: 100%;
}

.carousel-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .carousel-video {
    margin: auto;
    max-width: 500px;
    height: 250px;
  }
}

.carousel-control {
  width: 15px;
}

/////////////
.rightpanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: $grey1;
}

.navbar-container {
  background: $grey2;
}

.navbar-toggler {
  border: 2px solid $grey4;
  padding: 5px;

  i {
    font-size: 18px;
    color: $grey4;
  }
}

.nav-mega {
  height: 30px;
}

.dropdown {
  min-width: 100px;
  background: $grey3;
  border-radius: 5px 5px 0px 0px;
  margin-right: 5px;
  display: flex;

  &:hover, &:focus, &:focus-within {
    background: $grey1;
    text-decoration: none;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.dropdown-toggle {
  flex: 1;
  margin: auto;
  text-align: center;
  border: 0px;
  background: transparent;
  color: $text-color-light;
  
  &:after {
    display: none;
  }
}

.subtopic-container {
  background: $grey1;
  max-height: 200px;
  width: 100%;
  border: 0px;
  
  &:focus {
    display: flex;
    display: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    top: 10px;
  }
}

.btn-light {
  background: $grey1;
  color: $text-color-light;
  border: 0px;
  width: 100%;

  &:focus {
    border: 0px;
    box-shadow: unset;
  }
  &:active {
    border: 0px;
  }
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.roomlist-container {
  flex: 1;
  display: flex;
  padding: 20px;
}

.roomlist {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin: auto;
  height: 100%;
  justify-content: space-around;
}

.room-container{
  margin: 10px;
}

.room {
  width: 400px;
  height: 224px;
}
