.leftpanel {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: $grey3;
  color: $text-color-light;
}

.lp-header {
  display: flex;
  height: 70px;

  #main-logo {
    margin: auto;
    width: 85%;
    background: $text-color-light;
  }
}

.lp-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.carousel {
  flex: 1;
  display: flex;
  margin: 20px;
}

.carousel-inner, .carousel-item, .carousel-item-container {
  height: 100%;
}

.carousel-item-container {

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .carousel-video {
    margin: auto;
    max-width: 500px;
    height: 250px;
  }
}

/////////////
.rightpanel {
  flex: 1;
  background: $grey1;
}