.login > .dropdown > a {
  font-size: 30px;
}
#login-dp, #register-dp{
  position: fixed;
  min-width: 250px;
  max-width: 300px;
  padding: 14px 14px 0;
  max-height: 999px;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp, #register-dp .help-block{
  font-size:12px    
}
#login-dp, #register-dp .bottom{
  width: 100%;
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}

#login-dp, #register-dp .social-buttons a{
  width: 49%;
}
#login-dp, #register-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc 
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp, #register-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp, #register-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}

#login-dp {
  width: 0%;
}

ul#register-dp.dropdown-menu.show {
  padding-bottom: 14px;
}