.main-content {
  background: $grey2;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.main-topbar {
  background: $grey2;
  height: 50px;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid $border-dark;
  display: flex;

  p {
    font-size: 20px;
    margin: auto;
    color: $text-color-light;
  }
}

#message-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 15px 0px 15px;
}

// MESSAGE LIST
#message-list {
  flex: 1;
  padding: 0px;
  overflow-y: auto;

}

.username {
  font-weight: bold;
}

#message-list::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

#message-list::-webkit-scrollbar-thumb {
  background: $grey3;
}

.message-container {
  display: flex;
  border-top: 1px solid $border-light;
  padding: 15px 0px 15px 0px;
  hyphens: auto;
}

// .column1 {
//   padding-left: 10px;

//   img {
//     width: 35px;
//     height: 35px;
//   }
// }

// .column2 {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   padding-left: 10px;
//   color: $text-color-light;
// }
// 
// .column2 p {
//   margin: 0px;
// }

.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.message-message {
  padding-top: 5px;
  max-width: 100%;
}

.message-time {
  margin-left: 20px;
  color: $grey1;
}

// BOTTOM CHATBAR
#chat-bar {
  border-top: 1px solid $border-light;
  height: 80px;
  padding: 12px 0px 0px 0px;
}

.chat-area > textarea {
  resize: none;
  background: $chatarea-color;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: $text-color-light;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $grey3;
  }

}

#message-typing-status {
  color: $text-color-light;
  font-size: 12px;
  margin: 0px;
}

