.sidebar {
  background: $grey2;
  display: flex;
  flex-direction: column;
  width: 200px;
  resize: horizontal;
  overflow-x: hidden;
}

.sidebar-top {
  background: $grey2;
  height: 50px;
  border-bottom: 1px solid $border-dark;
  color: $text-color-light2;
}

.sidebar-top > h3 {
  margin: 0px;
  line-height: 50px;
}

.navbar-brand {
  margin: 0px;
  padding: 5px;
}

.navbar-brand > img {
  height: 100%;
  width: 45px;
}

.sidebar-user-list {
  flex: 1;
  overflow-y: auto;
}

.sidebar-user-list::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.sidebar-user-list::-webkit-scrollbar-thumb {
  background-color: $grey3;
}

.sidebar-user-container {
  display: flex;

  .column1 {
    padding: 0px;
  }

  .column2 {
    margin: 0px auto;

    div {
      margin: auto 0px;

      p {
        line-height: 100%;
        margin: 0px;
      }

      p:first-child {
        font-weight: bold;
      }

      p:nth-child(2) {
        font-size: 11px;
      }
    }
  }
}

.status-light {
  width: 10px;
  height: 10px;
  border-radius: 999px;
  background: green;
}

.nav-stacked > li+li {
  margin: 0px;
}

.nav-pills > li > a {
  color: $text-color-light;
  margin: 0px;
  padding: 10px;
}

.nav-pills > li > a:hover {
  background: $grey1;
}

// USER PROFILE
.sidebar-userinfo {
  background: $grey3;
  display: flex;
  height: 80px;
  padding: 10px;
}

.miniavatar {
  height: 50px;
  width: 50px;
  border: 1px solid $border-dark;
  border-radius: 10px;
  margin: auto 0px;
}

.userinfo-details {
  color: $text-color-light2;
  margin: auto 10px;
}

.userinfo-details > p {
  margin: 0px;
  line-height: 100%;
}

.username {
  font-size: 17px;
}